article,aside,details,figcaption,figure,footer,header,hgroup,nav,section,summary{display:block;}audio,canvas,video{display:inline-block;}audio:not([controls]){display:none;height:0;}[hidden]{display:none;}html{font-family:sans-serif;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;}a:focus{outline:thin dotted;}a:active,a:hover{outline:0;}h1{font-size:2em;}abbr[title]{border-bottom:1px dotted;}b,strong{font-weight:700;}dfn{font-style:italic;}mark{background:#ff0;color:#000;}code,kbd,pre,samp{font-family:monospace, serif;font-size:1em;}pre{white-space:pre-wrap;word-wrap:break-word;}q{quotes:\201C \201D \2018 \2019;}small{font-size:80%;}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline;}sup{top:-.5em;}sub{bottom:-.25em;}img{border:0;}svg:not(:root){overflow:hidden;}fieldset{border:1px solid silver;margin:0 2px;padding:.35em .625em .75em;}button,input,select,textarea{font-family:inherit;font-size:100%;margin:0;}button,input{line-height:normal;}button,html input[type=button],/* 1 */
input[type=reset],input[type=submit]{-webkit-appearance:button;cursor:pointer;}button[disabled],input[disabled]{cursor:default;}input[type=checkbox],input[type=radio]{box-sizing:border-box;padding:0;}input[type=search]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box;}input[type=search]::-webkit-search-cancel-button,input[type=search]::-webkit-search-decoration{-webkit-appearance:none;}textarea{overflow:auto;vertical-align:top;}table{border-collapse:collapse;border-spacing:0;}body,figure{margin:0;}legend,button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0;}

.clearfix:after {visibility: hidden; display: block; font-size: 0; content: " "; clear: both; height: 0; }

* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

/* DEFAULTS  																		   
/***********************************************/

html, body {
	font-family: 'Lato', sans-serif;
	font-size: 16px;
	background: #fff;
	-webkit-font-smoothing: antialiased;
}
body a {
	transition:0.5s all;
	-webkit-transition:0.5s all;
	-moz-transition:0.5s all;
	-o-transition:0.5s all;
	-ms-transition:0.5s all;
	outline: none;
}
h1,h2,h3,h4,h5,h6 {
	text-transform: uppercase;
	margin: 0;
}
p {
	margin: 0;
}
p:before {
    content: "";
    display: block;
    clear: both;
}
a {
	text-decoration: none;
	outline: none;
}
ul {
	margin: 0;
	padding: 0;
}
img {
	max-width: 100%;
}
/*.top__element {
  visibility: hidden;
}*/

/* Background images							
/***********************************************/

.bg {
	background-size: 
	 100%;
	min-height: 400px;
	position: relative;
}
.bg-services {
	padding-top: 100px;
}
.bg1 {
	background: url("images/011285662_prevstill.jpeg") no-repeat 0 0 fixed;
	min-height: 700px;
	height:70vh;
}
.bg2 {
	background: url("images/bg2.jpg") no-repeat 0 0 fixed;
}
.bg3 {
	background: url("images/bg3.jpg") no-repeat 0 0 fixed;
	background-size: cover;
}
.bg4 {
	background: url("images/bg4.jpg") no-repeat 0 60px fixed;
}
.home-imgs h3 {
	font-family: 'Open sans', sans-serif;
	font-size: 2.25rem;
	line-height: 1rem;
	color: #fff;
	padding-left: 100px;
	padding-top: 50px;
	text-transform: none;
	text-shadow: 1px 1px 3px #173151
}

/* NAV  																		  /***********************************************/

header {
	margin: 0;
	top: 0;
	width: 100%;
	height: 64px;
	position: fixed;
  z-index: 10;
}
header:after {
  content: '';
  background: #336699;
  width: 100%;
  height: 64px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}
.menu {
	display: inline-block;
	width: 100%;
	height: 64px;
	background:linear-gradient(to right,#173151 0%,#336699 100%);
}
.logo {
	float: left;
	display: inline;
	padding-top: 2px;
}
.logo img {
	max-width: 100%;
	padding-left: 200px;
	background: white;
	position: relative;
	box-shadow: 5px 2px 10px #173151;
	z-index: 1000;
}

nav {
  font-family: 'Lato', sans-serif;
  font-size: 1rem;
  font-weight: 300;
  line-height: 24px;
  background:linear-gradient(to right,#173151 0%,#336699 100%);
  padding-top: 20px;
  color: #fff;
  height: 64px;
  border-bottom: 1px solid #173151;
}
nav > ul {
  list-style-type: none;
  text-align: right;
  margin-right: 100px;
}
nav > ul > li {
  display: inline-block;
  text-align: center;
}
nav li {
  position: relative;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
nav li:hover,
.selected {
  background: #212647;
}
nav a {
  display: block;
  padding: 10px 20px;
  color: inherit;
  text-decoration: none;
}
nav .has-subnav > a {
  padding-right: 30px;
  position: relative;
}
nav .has-subnav > a:after {
  content: "▾";
  display: block;
  font-family: sans-serif;
  font-size: 1.25rem;
  line-height: 0;
  position: absolute;
  right: 5px;
  margin-right: 2px;
  top: 22px;
}
nav ul ul {
  width: 200px;
  background: #212647;
  position: absolute;
  left: 0;
  top: 100%;
  list-style-type: none;
  padding-left: 0px;
  z-index: 200;
}
nav ul ul li a:hover {
  background: rgba(115,174,222,1);
  color: #212647;
  font-weight: 600;
}
nav ul ul ul {
  left: 100%;
  top: 0;
  -moz-box-shadow: -1px 0 4px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: -1px 0 4px rgba(0, 0, 0, 0.2);
  box-shadow: -1px 0 4px rgba(0, 0, 0, 0.2);
}
nav li > ul {
  visibility: hidden;
  opacity: 0;
  -moz-transition: visibility 0s linear 0.1s, opacity 0.1s linear;
  -o-transition: visibility 0s linear 0.1s, opacity 0.1s linear;
  -webkit-transition: visibility 0s linear, opacity 0.1s linear;
  -webkit-transition-delay: 0.1s, 0s;
  transition: visibility 0s linear 0.1s, opacity 0.1s linear;
}

nav li:hover > ul {
  visibility: visible;
  opacity: 1;
  -moz-transition-delay: 0s;
  -o-transition-delay: 0s;
  -webkit-transition-delay: 0s;
  transition-delay: 0s;
  -moz-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}

.menu-text {
	display: none;
}

/* ABOUT 																		   
/***********************************************/

.title {
	font-weight: 300;
	letter-spacing: 1px;
	text-transform: uppercase;
}
.title h2 {
	color: #0069AA;
	font-size: 2.8125rem;
}
.title span {
	font-size: 1.875rem;
}
div.container-sub-title {
	text-align: right;
	font-weight: 600;
	font-size: 0;
	color: red;
	text-shadow: 1px 1px 1px #333;
	padding-top: 200px;
	position: absolute;
}

.container {
	margin-left: 5%;
	margin-right: 5%;
	padding-left: 20px;
	padding-right: 20px;
}

.mt {
	margin-top: 80px;
}
.container__grey {
	margin: 50px 0;
	background: #F0F2F1;
	border-radius: 3px;
	display: inline-block;
}

.container--w30tar {
	width: 30%;
	text-align: right;
	float: left;
	padding: 60px 0;
}

.container--w70tal {
	width: 70%;
	text-align: left;
	float: left;
	padding: 50px;
}
.container--w70tal-contact {
	padding: 50px 40px 40px 30px;
}

.container--w70tal h3 {
	font-size: 1rem;
	font-weight: 500;
	line-height: 1.8rem;
}
.content {
	width: 100%;
	float: left;
	display: block;
}
.w70 {
	float: left;
	width: 70%;
	padding-right: 30px;
}
.w30 {
	width: 30%;
	float: right;
	margin-top: 30px;
}
.w30-services {
	margin-top: 0;
}
.text {
	padding-top: 10px;
	line-height: 1.5rem;
	color: #777;
}
.button {
	font-size: 1.1rem;
	margin: 10px 20px;
	display: inline-block;
	color: #fff;
	text-align: center;
	padding: 20px;
	background: #73AEDE;
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	letter-spacing: 1px;
}
.button:hover {
	background: #0069AA;
}

/* Welcome																   
/***********************************************/

.about-photos {
	width: 35%;
	float: left;
	text-align: right;
	padding: 20px 20px 100px 20px;
	border: 1px solid #F0F2F1;
	background-color: rgba(115, 174, 222, 0.5);
}
.about-photos:hover {
	border: 1px solid #0069AA;
-webkit-box-shadow: -4px 3px 15px 0px rgba(50, 50, 50, 0.6);
-moz-box-shadow:    -4px 3px 15px 0px rgba(50, 50, 50, 0.6);
box-shadow:         -4px 3px 15px 0px rgba(50, 50, 50, 0.6);
}

div.welcome-text {
	padding-left: 350px;
}

p.welcome-text {
	padding-top: 0px;
	font-size: 1.1rem;
}
.pt5 {
	padding-top: 5px;
}
.pt15 {
	padding-top: 15px;
}
.pb30 {
	padding-bottom: 30px;
}
.welcome-text {
	font-size: 1.4rem;
	color: #0069AA;
}
div.welcome-text-about {
	line-height: 1.8rem;
	position: relative;
	width: 65%;
	float: right;
	padding: 20px 0 20px 40px;
	font-size: 1.375rem;
}

div.welcome-text-about ul li {
	list-style-type: square;
	font-size: 1rem;
}
p.text1 {
	font-size: 1rem;
	font-weight: 700;
	text-transform: uppercase;
	margin-top: 30px;
	color: #212647;
}
ul.text2 {
	margin-top: 10px;
	line-height: 1.8rem;
	color: #212647;
	list-style-type: decimal;
	margin-left: 40px;
	font-size: 1.1rem;
}
	ul.text2-services {
		list-style-type: square;
		margin-left: 40px;
		padding-bottom: 40px;
	}

	.text3 {
		font-style: italic;
		font-size: 1rem;
		letter-spacing: 1px;
	}
	.text3 a {
		color: #0069AA;
	}

	.text3-about {
		font-family: 'Lato', sans-serif;
		font-size: 1.1rem;
/*		letter-spacing: 1px;*/
		padding-top: 30px;
		color: #0069AA;
	}
	ul.text3-about li {
		list-style-type:square;
		font-style: none;
		margin-left: 40px;
		line-height: 1px;
	}

	p.text3 a {
		text-decoration: underline;
		font-weight: 400;
		color: #212647;
	}

/* About Us - Services - Newsletter												/***********************************************/

.wrapper-3 {
	background: #F0F2F1;
	width: 100%;
	margin-top: 50px;
	height: 450px;
}
.welcome-text-services {
	font-size: 1.4rem;
padding-top: 2.5rem;
}
.container-3 {
	width: 30%;
	float: left;
	margin-top: 40px;
	height: 300%;
}
.container-3:nth-child(2n) {
	width: 30%;
	margin-left: 5%;
	margin-right: 5%;
	margin-top: 40px;
	height: 300%;
}
.container-3 h4, .container-services h4 {  
	margin-top: 25px;
	margin-bottom: 10px;
	font-size: 1.4rem;
}
.container-3 ul, .container-services ul {
	padding-left: 0;
}
.container-3 ul li {
	font-size: 0.9rem;
	padding: 17px;
	list-style: none;
	font-weight: 400;
	color: #0069AA;
}

.container-3 ul li:before, .container-services ul li:before {  /*fa-check-square*/
  content: "\f14a";
  font-family: 'FontAwesome';
  float: left;
  padding-top: 2px;
  margin-right: 10px;
  color: #0069AA;
}
.container-3 ul li a, .container-services ul li a {
	color: #0069AA;
}
.container-3 ul li:nth-child(2n+1), .container-services ul li:nth-child(2n+1){
	background: #fff;
	color: #0069AA;
}
.container-3 ul li:hover {
	background: #73AEDE;
	color: #fff;
}
.container-services ul li:hover {
	background: #73AEDE;
	color: #fff;
}
.container-3 ul li a:hover, .container-services ul li a:hover {
	color: #fff;
}
.click {
	text-transform: uppercase;
	text-decoration: underline;
}

/* Compliance News */
/**********************************************/

/*.disclaimer {
	font-style: italic;
	color: #73AEDE;
	font-size: 0.8rem;
	margin-bottom: 20px;
}
.disclaimer a {
	text-decoration: underline;
	color: #73AEDE;
}
.disclaimer a:hover {
	color: #fff;
}
*/

/* Contact */													   
/***********************************************/

.text {
	line-height: 1.5rem;
	color: #777;
}

h3.contact-co {
	color: #212647;;
}

.text-contact {
	line-height: 1.6rem;
	font-weight: 400;
	color: #FA9E25;
	margin-top: 5px;
}

p.text-contact2 {
	text-transform: uppercase;
	font-weight: 400;
	padding-bottom: 8px;
	border-bottom: 1px solid #999;
}

.text-contact3, .text-contact3 a {
	text-transform: none;
	font-weight: 400;
	color: #336699;
}

.text-contact3 a:hover {
	color: #FA9E25;
	text-decoration: underline;
}

.w70-contact {
	width: 70%;
	float: left;
	text-align: right;
	display: inline-block;
}

.w30-contact {
	width: 30%;
	float: left;
	margin-top: 0;
	display: inline-block;
	padding-left: 60px;
}
.fa {
	margin-right: 7px;
	margin-left: 7px;
}

/* Footer	*/													   
/***********************************************/

.footer {
	font-family: 'Open Sans', sans-serif;
	background: #333;
	border-top: 1px solid #000;
	padding: 20px;
	display: inline-block;
	width: 100%;
}

.footer-title {
	color: #999;
	font-weight: 700;
	font-size: 0.75rem;
	text-transform: uppercase;
	padding: 20px 0;
	text-align: center;
}
.footer-title a {
	color: #fff;
}
.footer-title a:hover {
	color: #73AEDE;
}

.footer-list {
	width: 100%;
	float: left;
	padding-bottom: 20px;
	letter-spacing: 1px;
	color: #999;
	text-transform: uppercase;
	font-size: 0.7rem;
	text-align: center;
	border-top: 1px solid rgba(255,255,255,.1);
}
.left {
	float: left;
}
.right {
	float: right;
}

.footer-list li {
	padding-left: 0;
	list-style-type: none;
	line-height: 1.5rem;
	display: inline-block;
}

.footer-list a {
	color: #999;
}
.footer-list a:hover {
	color: #73AEDE;
}
.bold {
	font-weight: 600;
}

.copyright {
	color: #777;
	text-transform: none;
	letter-spacing: none;
}








/***************************+*********/
/* @ Media Queries for Responsive		 */					
/***************************+*********/
/* Styles for screen 1070px and lower*/
@media screen and (max-width: 1070px) {

.logo {
  padding-top: 0;
}
.logo img {
  padding: 0;
}
  nav > ul {
    text-align: center;
    margin-right: 0;
  }

/***************************+**********/
/* Portrait tablet and small desktops */        
/***************************+**********/
/*Styles for screen 800px and lower*/
@media all and  (max-width: 800px) {

  .logo {
    display: block;
    float: none;
    text-align: center;
    background: #fff;
    border-bottom: 1px solid #173151;
  }
  .logo img {
    box-shadow: none;
  }
  nav {
    padding-top: 0;
    height: auto;
    background: linear-gradient(to right,#173151 0%,#336699 100%);
  }

}

/***************************+**********/
/* Landscape phone to portrait tablet */      
/***************************+**********/
/*Styles for screen 768px and lower*/
@media all and  (max-width: 768px) {


}

/***************************+**********/      
/* Landscape phones and down          */
/***************************+**********/
/*Styles for screen 560px and lower*/
@media all and  (max-width: 560px) {

    nav, header:after {
      display: none;
      height: auto;
      padding-top: 0;
    }
    nav .has-subnav > a:after {
      top: 24px;
    }
    nav li {
      width: 100%;
      border-bottom: 1px solid #173151;
    }
    nav li:last-child {
      border-bottom: none;
    }
    nav ul ul {
      width: 100%;
      border-bottom: 1px solid #173151;
    }
    .menu-text {
      color: #fff;
      position: relative;
      text-align: right;
      padding-right: 60px;
      padding-top: 15px;
      outline: 0;
      border-bottom: 1px solid #173151;
    }

    .menu a#pull {
      display: block;
      width: 100%;
      height: 50px;
      position: relative;
      background: #212647;
      outline: 0;
      z-index: 100;
    }
    .menu a#pull:after {
      content: "";
      background: url("images/nav-icon.png") no-repeat;
      width: 30px;
      height: 30px;
      display: inline-block;
      position: absolute;
      right: 15px;
      top: 15px;
      outline: 0;
      z-index: 110;
    }
}


/***************************+**********/      
/* Landscape phones and down          */
/***************************+**********/
/*Styles for screen 480px and lower*/
@media all and  (max-width: 480px) {

}





/* Fonts & Colours															  
/***********************************************/
/*

#73AEDE;
#212647;
#F0F2F1;
#0069AA;
#0D6AA7;
#336699;
#777;
#333;
#fff;
#000;
#999;


font-family: 'Lato', sans-serif;
font-family: 'Open Sans', sans-serif;
*/

/*font-family: 'Source Sans Pro', sans-serif;
font-family: 'Oswald', sans-serif;*/


